@use '../custom' as *;

@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

//ABSOLUTE CENTER

@mixin absoluteCenter {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

@mixin absoluteCenterButton {
    position: absolute !important;
    top: 50% !important;
    left: 60% !important;
    transform: translate(-50%, -50%) !important;
}

//TRANSITION PROPERTY

@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
}